@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

/* Navbar styling and animation */

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, #8963ba, #3c2f66);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  /* height: 50px; */
  padding: 1em;
  z-index: 1000;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle-right {
  display: none;
}

#menu-toggle-left {
  display: none;
}

.menu-button:hover,
.menu-button:hover::before,
.menu-button:hover::after {
  background-color: #73a942;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fdfdff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle-right:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle-right:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle-right:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#menu-toggle-left:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle-left:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle-left:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu-button-container {
  display: flex;
}
.menu {
  position: absolute;
  top: 0;
  margin-top: 65px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-right {
  right: 30px;
}

.menu-left {
  left: 30px;
}

#menu-toggle-right ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle-right:checked ~ .menu li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle-left ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle-left:checked ~ .menu li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu > li {
  display: flex;
  margin: 0;
  padding: 0.5em 0;
  min-width: 200px;
  max-width: 767px;
  color: #fdfdff;
  background-color: #222;
  justify-content: left;
}

.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}

@media (max-width: 767px) {
  .menu {
    width: 100%;
  }

  .menu > li {
    width: 100%;
    justify-content: center;
  }

  .menu-right {
    right: 0px;
  }

  .menu-left {
    left: 0px;
  }
}

.map {
  height: 100%;
  z-index: 1;
}

/* Settings (and more?) collapsable styling */

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;
  text-transform: uppercase;
  padding: 0.5rem;
  margin-top: 0.25rem;
  color: #fdfdff;
  background-color: #8963ba;
  background: linear-gradient(to left, #8963ba, #3c2f66);
  cursor: pointer;
  border-radius: 1.5rem;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #73a942;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  flex-shrink: 0;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: #101110;
  /* FIXME: this should be a gradient that matches the element above */
  border-bottom: 2px solid #8963ba;
  border-left: 2px solid #8963ba;
  border-right: 2px solid #8963ba;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 0.5rem;
}

/* Input Classes */

.button {
  border: none;
  padding: 0.3rem;
  border-radius: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #73a942;
}

.button::hover {
  cursor: pointer;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: center; */
  height: 100%;
}

/* Settings layouts */

.settings-item {
  display: flex;
  flex-direction: row;
  align-items: left;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  padding-bottom: 0.25rem;
  flex-shrink: 0;
}

.settings-item > *:first-child {
  width: 200px;
}

.settings-item > *:nth-child(2) {
  width: 100%;
}

input[type="text"].text-black {
  width: 100%;
  padding-left: 0.25rem;
}

input:read-only,
select:disabled {
  background: grey;
}

select.text-black {
  width: 100%;
  padding-left: 0.25rem;
}

.settings-item > *:only-child {
  width: 100%;
}

.settings-item.buttons > *:first-child {
  width: 250px;
}

@media (max-width: 767px) {
  .settings-item {
    flex-direction: column;
  }

  .settings-item > *:first-child {
    width: 100%;
  }

  .settings-item > *:nth-child(2) {
    width: 100%;
  }

  .settings-item > *:only-child {
    width: 100%;
  }
}
